// LAYOUT
// ------------------------------------
.container {
  padding: 0 $spacer;
  margin: 0 auto;

  @media screen and (min-width: $lg) {
    padding-left: 0;
    padding-right: 0;
    max-width: 1260px;    
  }
  
}

// Global style
.triip-row {
  @include clearfix();

  .triip-col-2,
  .triip-col-3,
  .triip-col-4,
  .triip-col-5,
  .triip-col-6,
  .triip-col-7,
  .triip-col-8,
  .triip-col-9,
  .triip-col-12 {
    padding: 0 $spacer*2;
    width: 100%;

    @media screen and (min-width: $sm) {
      float: left;
    }
  }

  .triip-col-2 {
    @media screen and (min-width: $sm) {
      width: 16.6%;
    } 
  }

  .triip-col-3 {
    @media screen and (min-width: $sm) {
      width: 25%;
    } 
  }

  .triip-col-4 {
    @media screen and (min-width: $sm) {
      width: 33.3%;
    } 
  }

  .triip-col-6 {
    @media screen and (min-width: $sm) {
      width: 50%;
    } 
  }

  .triip-col-8 {
    @media screen and (min-width: $sm) {
      width: 66.6%;
    } 
  }

  .triip-col-12 {
    @media screen and (min-width: $sm) {
      width: 100%;
    } 
  }

}